<div class="history-doctors" layout-xs="column">
  <div class="nrow">
    <span>
      <label id="history-doctors-title1">Expert medical advice. Informed medical decisions.</label>
    </span>
    <span>
      <label id="history-doctors-title2">You also viewed...</label>
    </span>
    <mat-divider></mat-divider>
    <div class="search-history-panel">
      <div class="card  card--z-1">
        <a class="search-history-card">Ortho surgon </a>
      </div>
      <div class="card  card--z-1">
        <a class="search-history-card">Ortho surgon </a>
      </div>
      <div class="card  card--z-1">
        <a class="search-history-card">Ortho surgon </a>
      </div>
      <div class="card  card--z-1">
        <a class="search-history-card">Ortho surgon </a>
      </div>
      <div class="card  card--z-1">
        <a class="search-history-card">Ortho surgon </a>
      </div>
      <div class="card  card--z-1">
        <a class="search-history-card">Ortho surgon </a>
      </div>
      <div class="card  card--z-1">
        <a class="search-history-card">Ortho surgon </a>
      </div>
    </div>
  </div>
  <span>
      <label id="history-doctors-footer">View More ...</label>
    </span>
</div>