<div class="history-doctors" layout-xs="column">
  <div class="nrow">
    <span>
      <label id="history-doctors-title1">Expert medical advice. Informed medical decisions.</label>
    </span>
    <span>
      <label id="history-doctors-title2">You also viewed...</label>
    </span>
    <mat-divider></mat-divider>
    <div class="search-history-panel">
      <ng-container class="ngcont" *ngFor="let r of recent_search">
      <div matBadge={{r.frequency}} matBadgeOverlap="true" matBadgeColor="accent" class="card  card--z-1">
        {{r.search_string}}
      </div>
    </ng-container>
  </div>
</div>
<span>
  <label id="history-doctors-footer" (click)="getData()">Refresh feed ...</label>
</span>
</div>
