   <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <!--<localRepository>C:/Users/Shashank/.m2/repository</localRepository>-->
      <interactiveMode>true</interactiveMode>
      <offline>false</offline>
      <pluginGroups></pluginGroups>
      <servers>
        <server>
          <id>TomcatServer</id>
          <username>admin</username>
          <password>admin</password>
      </server>
      </servers>
      <mirrors></mirrors>
      <proxies></proxies>
      <profiles></profiles>
      <activeProfiles></activeProfiles>
    </settings>