<div class="app-login-page-wrapper">
    <div class="login-overlay"></div>
    <mat-card class="tab-group-container">
      <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="profile-icon">account_circle</mat-icon>
              Sign in
            </ng-template>
            <app-login-card></app-login-card>
          </mat-tab>
        
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="profile-icon">perm_contact_calendar</mat-icon>
              Sign up
            </ng-template>
            <app-signup-card></app-signup-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
</div>