.app-login-page-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../assets/images/homebg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-group-container {
    position: relative;
    width: 20%;
    left: 70%;
    background: #fff;
    height: 33rem;
    top: 8rem;
    color: #000;
    text-align: center;
}

.profile-icon {
    padding-right: 0.5rem;
}

.login-overlay {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, rgba(0,0,0,01) 35%, rgba(255,255,255,0) 100%);
}