.app-login-page-wrapper {
    width: 100vw;
    height: calc(100vh - 2.5rem);
    background-image: url('../../../../assets/images/homebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-group-container {
    position: relative;
    width: 20%;
    left: 40%;
    background: #fff;
    height: 33rem;
    top: 8rem;
    color: #000;
    text-align: center;
}

.profile-icon {
    padding-right: 0.5rem;
}