.search-bar{
    display:block;
    background-image: url(../../../../assets/images/homebg1.jpg);
    background-repeat: no-repeat;
    background-position: right right;
    background-attachment: fixed;
    background-size: cover;

}