.search-bar{
    display:block;
    background-image: url(https://wallpaper-house.com/data/out/8/wallpaper2you_237340.png);
    background-repeat: no-repeat;
    background-position: right right;
    background-attachment: fixed;
    background-size: cover;

}