.signup-form mat-form-field, .signup-form button {
    width: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
}

::ng-deep .mat-tab-body-content{
  overflow: hidden !important;
}
.divider {
    position: inherit !important;
    width: 80% !important;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.divider-text {
    color: #3f51b5;
}
/* google button */
.google-button {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0.5rem 0.5rem;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-family: 'Roboto',arial,sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button ~ button {
  margin-left: 20px;
}
#sign-up{
  background-color: #FF0266;
}
::ng-deep .tab-group-container{
  width:24% !important;
}