header {
    background: rgb(0, 0, 0);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14),  0 1px 5px 0 rgba(0,0,0,.12);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 1.3em;
    height: 2.5vh;
  }
.container a {
    color: white;
}

.left-contents {
    float:left;
}

.right-contents {
    float: right;
    width: 35rem;
}

app-account-option {
    float: left;
}

nav {
    float: right;
}

/*header nav {
    justify-self: right;
}*/
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    float: left;
}
header nav ul li a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: 0.8rem;
}
header nav ul li a:hover {
    background: #272424e7;
}
                  