<div class="searchpanel">
  <form class="search-form">
    <mat-card>
      <label>Search</label>
      <mat-form-field class="search-form-main">

        <input matInput placeholder="Doctor or Drug Name" name="doctor_name" [(ngModel)]="doctorSearchParams.name">
        <mat-hint>Enter keyword</mat-hint>

      </mat-form-field>

      <button mat-raised-button (click)="getDoctors()" [disabled]="dataStore.inProgress" >SEARCH</button>
      <mat-progress-spinner
      *ngIf="dataStore.inProgress"
      class="spinner"
      [color]="'accent'"
      [mode]="'indeterminate'"
      [value]="1"
      [diameter]="20">
  </mat-progress-spinner>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>

            <mat-panel-title>
              Advanced Search
            </mat-panel-title>
            <mat-panel-description>
              Refine your search with more option
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field class="search-form-adv">
            <input matInput placeholder="Practice">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Zip Code">
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card>
  </form>
</div>